* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1e1b27;
}

h2 {
  font-size: 32px;
}

#level-title {
  background-color: #1e1b27;
  border: none;
  font-family: 'Audiowide', cursive;
  font-size: 1.4rem;
  margin:  3%;
  color: #dadada;
}

.grid-container {
  display: grid;
  height: 75vh;
  justify-content: center;
  align-content: center;
  grid-template-columns: 260px 260px;
  grid-template-rows: 260px 260px;
  grid-gap: 20px;
  top: 80px;
  position: relative;
}

.btn {
  height: 260px;
  width: 260px;
}

.center {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
  transform: translate(160px, 160px);
  background: #1e1b27;
  height: 220px;
  width: 220px;
  border-radius: 100%;
  text-align: center;
  padding-top: 60px;
}

.start {
  cursor: pointer;
  background: #1e1b27;
  border: none;
}


.game-over {
  background-color: red;
  opacity: 0.8;
}

.start {
  margin: auto;
}


/*  BUTTON ATTRIBUTES */
.green {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  background-color: #29BF12;
  border-radius: 100% 2% 0% 2%;
}

.green-active {
  opacity: 0.4;
  box-shadow: 0 0 10px #29BF12;
}

.red {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  background-color: #F21B3F;
  border-radius: 2% 100% 2% 0%;
}

.red-active {
  opacity: 0.4;
  box-shadow: 0 0 10px #F21B3F;
}

.yellow {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  background-color: #ffcb14;
  border-radius: 2% 0% 2% 100%;
}

.yellow-active {
  opacity: 0.4;
  box-shadow: 0 0 10px #ffcb14;
}

.blue {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  background-color: #08BDBD;
  border-radius: 0% 2% 100% 2%;
}

.blue-active {
  opacity: 0.4;
  box-shadow: 0 0 10px #08BDBD;
}
